[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
torch = {file = "https://download.pytorch.org/whl/cu90/torch-1.0.0-cp37-cp37m-win_amd64.whl"}

[packages]
torch = "*"
torchvision = "*"
pillow = "*"
responder = "*"
fire = "*"
pyyaml = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
