[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
torch = {file = "https://download.pytorch.org/whl/cu90/torch-1.0.0-cp36-cp36m-win_amd64.whl",sys_platform = "== 'win32'"}

[packages]
torchvision = "*"
pillow = "*"
responder = "*"
fire = "*"
pyyaml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
